.containar{
    /* border: 1px solid red; */
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}
.navbar{
    /* background-color: rgb(136, 130, 130); */
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.ul_bar{
    /* border: 1px solid red; */
    display: flex;
    color: whitesmoke;
    gap: 8px;
    font-weight: 600
}
.li_bar{
    /* border: 1px solid red; */
    padding: 8px 12px;

}
.value{
    /* border: 1px solid red; */
    display: flex;
    gap: 15px;
    font-size: larger;
    color: whitesmoke;
    font-weight: 500;
}
.li_bar:hover{
    text-decoration-line: underline;
}
.hamburger{
    font-size: 2rem;
    color: whitesmoke;
    cursor: pointer;
    display: none;
}
@media(max-width: 1000px){
    .ul_bar{
        font-size: 12px;
        gap: 0px;
    }
    .value{
        font-size: 16px;
    }
}
@media(max-width: 1000px){
    .ul_bar{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #0000006c;
        position: absolute;
        top: 68px;
        height: 300px;
        right: 0;
        font-size: 15px;
        padding: 0px 80px;
        backdrop-filter: blur(10px);
    }
    .li_bar {
        padding: 17px;
        width: 100%;
        /* background-color: transparent; */
        color: white;
        transition: 0.6s;
        /* text-align: center; */
      }
    .value{
        display: none;
    }
    .ul_bar.active {
        display: flex !important;
        transition: 1s;
      }
    .hamburger{
        display: block;
    }

}