.containar{
    height: 110vh;
    border: 3px solid black;
}
.one{
    border: 1px solid red;
    height: 20%;
    text-align: center;
    align-content: center;
}
.head_one{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 15px;
}
.two{
    border: 1px solid red;
    height: 400px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    /* display: grid; */
    gap: 30px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 300px; */
    display: flex;


}
.div_one{
    border: 2px solid black;
    height: 375px;
    padding: 20px;
    border-radius: 5px;

}
.div_two{
    border: 2px solid black;
    height: 375px;
    padding: 20px;
    border-radius: 5px;


}
.div_three{
    border: 2px solid black;
    height: 375px;
    padding: 20px;
    border-radius: 5px;

}
.div_four{
    border: 2px solid black; 
    height: 375px;
    padding: 20px;
    border-radius: 5px;

}
/* .div_one:hover{
    padding: 10px;
}
.div_two:hover{
    padding: 10px;
}
.div_three:hover{
    padding: 10px;
}
.div_four:hover{
    padding: 10px;
} */
@media(max-width: 1000px){
    .two{
        flex-direction: column;
    }
}


@media(max-width: 550px){
    .head_one{
        font-size: 45px;
    }
}
@media(max-width: 350px){
    .head_one{
        font-size: 35px;
    }
}
@media(max-width: 252px){
    .head_one{
        font-size: 25px;
    }
}